<div class="root">
  <div class="row">
    <div class="hero-container"></div>
    <div class="hero">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facilis pariatur labore minus harum excepturi, nemo in ullam magni, at ab nobis soluta quam inventore maxime exercitationem! Temporibus dolores, nam nemo voluptatem? Quidem cumque vel, minima! Eveniet quia a recusandae reprehenderit corporis cupiditate laborum mollitia, commodi fuga sint laboriosam doloremque numquam, aliquam facere vitae voluptatibus ratione nam. Obcaecati, repellendus, eum, deserunt quibusdam quo nam voluptas, inventore iusto atque itaque natus. Qui modi adipisci architecto libero veniam reiciendis officiis delectus, accusamus voluptas quidem odio id hic molestiae asperiores quia eaque, veritatis, saepe possimus itaque perspiciatis repudiandae nostrum error quibusdam, accusantium. Modi!
      </p>
    </div>
  </div>
  <div class="row">Latest Chapters <hr class="style14"></div>
  <div class="row">
    <div class="novel-holder">
      <% if !@chapters.blank? %>
        <% @chapters.each do |chapter| %>
          <div class="novelbox" style="background: url(<%= asset_path 'novels/tdg_cover.jpg' %>); width: 175px; height: 250px;">
            <div class="novel-overlay"></div>
            <div class="chapter-number">Chapter <%= chapter["chapter_number"] %></div>
            <div class="publish-date"><%= distance_of_time_in_words(chapter["publish_date"], Time.now) %> ago</div>
            <!-- <a href="<%= "/r/#{chapter["novel_code"]}/#{chapter["chapter_number"]}" %>"><%= chapter["chapter_number"] %></a> -->
            <a href="<%= novel_chapter_path(novel_slug: chapter["novel_code"], chapters: chapter["chapter_number"]) %>"><%= chapter["chapter_number"] %></a>
            <div class="novel-title"><%= chapter["novel_title"]%></div>
          </div>

        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">Some of the Novels <hr class="style14"></div>
  <div class="row">
    <% @novels.each do |novel| %>
      <div class="novelbox">
        <div class="novel-overlay"></div>
        <div class="novel-title"><%= novel.title %></div>
      </div>
    <% end %>
  </div>
</div>
