<!DOCTYPE html><html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anima</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
      <header>
        <div class="root">
          <div class="row">
            <nav>
              <div class="logo">
                <a href="/">Home</a>
              </div>
              <div class="links">
                <ul>
                  <li><a href="#">Latest Releases</a></li>
                  <li><a href="#">Popular</a></li>
                  <li><a href="#">Novels</a></li>
                  <li><a href="#">Completed</a></li>
                  <li><%= @user.try(:email) || "Sign In" %> <img src="" width="12" height="12" alt=""></li>
                </ul>
              </div>
              <div class="search-parent">
                <div class="search">
                  <form class="" action="/" method="post">
                    <input type="text" name="q" placeholder="Search...">
                    <button type="submit">Search</button>
                  </form>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <div class="root">
        <div class="row content">
          <%= yield %>
        </div>
      </div>
    <footer>
      <div class="root">
        <div class="row">
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
        <div class="row">
          <h4>ANIMA &copy; <%= Date.today.year %> All rights reserved.</h4>
        </div>
      </div>
    </footer>
  </body>
</html>
